body{
    background-color: black;
}
div{
    background-color: black;
    text-align: center;
    color: white;
    width:50%;
    margin-left:25%;    
    margin-top: 50px;
}

img{
    width:100%;
    border: 5px solid white;
}

h1{
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}